{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Club Event validation {% endblock title %}
{% block content %}
  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header pb-0 card-no-border">
              <h3 class="mb-3">Not validated Events</h3>
            </div>
            <div class="card-body">
              <form method="post" action="{% url 'validate_club_event' %}">
              {% csrf_token %} 
              <div class="table-responsive">
                <table class="display" id="data-source-1" style="width:100%">
                  <thead>
                    <tr>
                      <th>Club</th>
                      <th>Event Name</th>
                      <th>Date</th>
                      <th>Technical File</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for non_validated_event in non_validated_events_list %}
                    <tr>
                      <td>Etic</td>
                      <td>{{non_validated_event.event_name}}</td>
                      <td>{{non_validated_event.start_date}}</td>
                      <td class="action"><a class="pdf" href="{{non_validated_event.event_file.link}}" target="_blank">
                        <i class="ti ti-file"></i>
                        <td>
                          <input type="hidden" name="club_event_id" value="{{ non_validated_event.id }}">
                          <input type="submit" class="btn btn-continue" value="Validate"/>
                        </td>
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
            </form>
            </div>
          </div>
        </div>

        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'assets/js/datatables/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'assets/js/datatables/datatable.custom.js'%}"></script>
  <!-- [Page Specific JS] end -->
{% endblock extra_js %}
